#navbar {
    border: 1px solid red;
    display: flex;
    align-items: center;
    width: 120rem;
    height: 5.75rem;
    background-color: #FDFEFF;
  } 

  #navbar h1 {
   margin-right: 5rem;
    font-size: 2.25rem;
    margin-left: 22rem;
    color: #7895CB;
  }

  #navbar h2 a {
    font-size: 0.9rem;
    color: #4B4B4B;
    margin-right: 1.5rem;
  }
  